# netlify.toml

[build]
  command = "hugo mod get -u && hugo --gc --minify -b $URL"
  publish = "public"

[build.environment]
  NODE_ENV = "production"
  GO_VERSION = "1.22.2"
  TZ = "Asia/Jakarta"  # Set to preferred timezone

[context.production.environment]
  HUGO_VERSION = "0.123.7"
  HUGO_ENV = "production"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.123.7"
